@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: local('Ubuntu'),
	       url('./normal-400.woff') format('woff');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	src: local('Ubuntu Bold'),
	     local('Ubuntu-Bold'),
	       url('./bold-700.woff') format('woff');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 400;
	src: local('Ubuntu Italic'),
	     local('Ubuntu-Italic'),
	       url('./italic-400.woff') format('woff');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 700;
	src: local('Ubuntu Bold Italic'),
	     local('Ubuntu-BoldItalic'),
	       url('./bold-italic-700.woff') format('woff');
}
