/**
 * @package Freemwurk
 * @author Patrick "Tyil" Spek <p.spek@tyil.nl>
 * @copyright Tyil <http://www.tyil.nl/>
 * @version 1.0.000/1 [Nov 29, 2011]
 * Edit of the original from Richard Clark <http://www.richclarkdesign.com>
 */

html, body, div, span, object, iframe, blockquote,
pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small,
strong, sub, sup, var, b, i, dl, dt, dd, ol, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, figcaption, figure, footer, header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

input, select {
	vertical-align: middle;
}

h1 {
	font-size: 200%;
	margin: 11px;
	font-weight: bold;
}
h2 {
	font-size: 150%;
	margin: 13px 11px 11px 13px;
	font-weight: bold;
}
h3 {
	font-size: 117%;
	margin: 16px 11px 11px 16px;
	font-weight: bold;
}
h4 {
	font-size: 100%;
	margin: 18px 11px 11px 18px;
	font-weight: bold;
}
h5 {
	font-size: 83%;
	margin: 26px 11px 11px 26px;
	font-weight: bold;
}
h6 {
	font-size: 67%;
	margin: 32px 11px 11px 32px;
	font-weight: bold;
}

p {
	margin: 16px 2px;
}
